Xave/src/web/generator/xave.web.generator.dto/Service References/CodeModel/CodeModel2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/xave.web.code.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/xave.web.code.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CodeContainers">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeType" nillable="true" type="tns:ArrayOfCode" />
      <xs:element minOccurs="0" name="FormatType" nillable="true" type="tns:ArrayOfFormat" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kostom" nillable="true" type="tns:ArrayOfKOSTOM_Diagnosis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodeContainers" nillable="true" type="tns:CodeContainers" />
  <xs:complexType name="ArrayOfCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Code" nillable="true" type="tns:Code" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCode" nillable="true" type="tns:ArrayOfCode" />
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element minOccurs="0" name="BindableVariable" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeClassification" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeID" type="xs:int" />
      <xs:element minOccurs="0" name="CodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parent" type="xs:int" />
      <xs:element minOccurs="0" name="UseYN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Code" nillable="true" type="tns:Code" />
  <xs:complexType name="ArrayOfFormat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Format" nillable="true" type="tns:Format" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFormat" nillable="true" type="tns:ArrayOfFormat" />
  <xs:complexType name="Format">
    <xs:sequence>
      <xs:element minOccurs="0" name="FormatCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatID" type="xs:int" />
      <xs:element minOccurs="0" name="FormatStyle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FormatType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseYN" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Format" nillable="true" type="tns:Format" />
  <xs:complexType name="ArrayOfKOSTOM_Diagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KOSTOM_Diagnosis" nillable="true" type="tns:KOSTOM_Diagnosis" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKOSTOM_Diagnosis" nillable="true" type="tns:ArrayOfKOSTOM_Diagnosis" />
  <xs:complexType name="KOSTOM_Diagnosis">
    <xs:sequence>
      <xs:element minOccurs="0" name="CCC_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHN_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CNPT_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EDI_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENG_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICD9CM_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ICNP_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KCD_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KOR_NM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOINC_CD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MED_USE_YN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SZ_TP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UMLS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VOC_CD" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KOSTOM_Diagnosis" nillable="true" type="tns:KOSTOM_Diagnosis" />
</xs:schema>