Xave/src/web/generator/xave.web.generator.dto/Service References/CodeModel/CodeModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50001/CodeModel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/xave.web.code.dto" />
  <xs:element name="GetModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/xave.web.code.dto" minOccurs="0" name="codeContainers" nillable="true" type="q1:CodeContainers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>