Xave/src/app/xave.generator.test/Service References/CdaModel/CdaModel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://localhost:50000/CdaModel.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/xave.com.generator.cus" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/xave.com.generator.cus" minOccurs="0" name="obj" nillable="true" type="q1:CDAObject" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>